# All files related to dependency management are owned by the
# currently active dependency manager (DM) to trigger an automatic review
# request from the DM upon changes. Please see AEP-002 for details:
# https://github.com/aiidateam/AEP/tree/master/002_dependency_management
environment.yml                 @unkcpz @agoscinski
pyproject.toml                  @unkcpz @agoscinski
uv.lock                         @unkcpz @agoscinski
utils/dependency_management.py  @unkcpz @agoscinski
