__pycache__/
*.pyc
*.pyo
*~
*.swp
*.project
*.pydevproject
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.metadata
.ipynb_checkpoints

/venv*/
/.idea/
*.egg
*.egg-info
.eggs
.vscode
pyrightconfig.json
stubs/
.tox
Pipfile

.aiida

# Linter/type-checker caches
.mypy_cache/
.ruff_cache/

# files created by coverage
.cache
.pytest_cache
.coverage
coverage.xml
htmlcov/

# Files created by RPN tests
**/polish_workchains/polish*

# Build files
build/
dist/
pip-wheel-metadata

# Docs
docs/build
docs/source/reference/apidoc
docs/html
docs/jupyter_execute
sphinx.log
_build
_sandbox
_build/
docs/html/
docs/jupyter_execute/
sphinx.log

pplot_out/

# docker
docker-bake.override.json

# benchmark
.benchmarks/
