*.pyc
*~
*.swp
*.project
*.pydevproject
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.metadata
.ipynb_checkpoints

/venv*/
/.idea/
*.egg-info
.eggs
.vscode
.tox
Pipfile

.aiida

# files created by coverage
.cache
.pytest_cache
.coverage
coverage.xml

# Files created by RPN tests
**/polish_workchains/polish*

# Build files
dist/
pip-wheel-metadata

# Docs
docs/build
docs/source/reference/apidoc
docs/html
docs/jupyter_execute
sphinx.log
_build
_sandbox

pplot_out/

# docker
docker-bake.override.json

# benchmark
.benchmarks/
