*.pyc
*~
*.swp
*.project
*.pydevproject
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.metadata

/venv*/
/.idea/
*.egg-info
.eggs
.vscode

# files created by coverage
.cache
.pytest_cache
.coverage

# Files created by RPN tests
.ci/polish/polish_workchains/polish*
