ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [mypy, pylint, dm-generate-all, dependencies, verdi-autodocs]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
        exclude: &exclude_pre_commit_hooks >
            (?x)^(
                tests/.*(?<!\.py)$|
                docs/source/.+\.aiida/repo/.+|
                CHANGELOG.md|
            )$
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: *exclude_pre_commit_hooks
    -   id: check-yaml


-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.77'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']
        additional_dependencies: ['toml']

-   repo: local

    hooks:

    -   id: imports
        name: imports
        entry: python utils/make_all.py
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false
        files: aiida/.*py

    -   id: mypy
        name: mypy
        entry: mypy
        args: [--config-file=pyproject.toml]
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        exclude: >-
            (?x)^(
                .github/.*|
                .molecule/.*|
                docs/.*|
                utils/.*|

                aiida/calculations/arithmetic/add.py|
                aiida/calculations/diff_tutorial/calculations.py|
                aiida/calculations/templatereplacer.py|
                aiida/calculations/transfer.py|
                aiida/cmdline/commands/cmd_archive.py|
                aiida/cmdline/commands/cmd_calcjob.py|
                aiida/cmdline/commands/cmd_code.py|
                aiida/cmdline/commands/cmd_computer.py|
                aiida/cmdline/commands/cmd_data/cmd_list.py|
                aiida/cmdline/commands/cmd_data/cmd_upf.py|
                aiida/cmdline/commands/cmd_devel.py|
                aiida/cmdline/commands/cmd_group.py|
                aiida/cmdline/commands/cmd_node.py|
                aiida/cmdline/commands/cmd_shell.py|
                aiida/cmdline/commands/cmd_storage.py|
                aiida/cmdline/groups/dynamic.py|
                aiida/cmdline/params/options/commands/setup.py|
                aiida/cmdline/params/options/interactive.py|
                aiida/cmdline/params/options/main.py|
                aiida/cmdline/params/options/multivalue.py|
                aiida/cmdline/params/types/group.py|
                aiida/cmdline/params/types/plugin.py|
                aiida/cmdline/utils/ascii_vis.py|
                aiida/cmdline/utils/common.py|
                aiida/cmdline/utils/echo.py|
                aiida/common/extendeddicts.py|
                aiida/common/hashing.py|
                aiida/common/utils.py|
                aiida/engine/daemon/execmanager.py|
                aiida/engine/processes/calcjobs/manager.py|
                aiida/engine/processes/calcjobs/monitors.py|
                aiida/engine/processes/calcjobs/tasks.py|
                aiida/engine/processes/control.py|
                aiida/engine/processes/functions.py|
                aiida/engine/processes/ports.py|
                aiida/manage/configuration/__init__.py|
                aiida/manage/configuration/config.py|
                aiida/manage/configuration/profile.py|
                aiida/manage/configuration/settings.py|
                aiida/manage/external/rmq/launcher.py|
                aiida/manage/tests/main.py|
                aiida/manage/tests/pytest_fixtures.py|
                aiida/orm/comments.py|
                aiida/orm/computers.py|
                aiida/orm/implementation/storage_backend.py|
                aiida/orm/nodes/caching.py|
                aiida/orm/nodes/comments.py|
                aiida/orm/nodes/data/array/array.py|
                aiida/orm/nodes/data/array/bands.py|
                aiida/orm/nodes/data/array/trajectory.py|
                aiida/orm/nodes/data/cif.py|
                aiida/orm/nodes/data/remote/base.py|
                aiida/orm/nodes/data/structure.py|
                aiida/orm/nodes/data/upf.py|
                aiida/orm/nodes/process/calculation/calcjob.py|
                aiida/orm/nodes/process/process.py|
                aiida/orm/utils/builders/code.py|
                aiida/orm/utils/builders/computer.py|
                aiida/orm/utils/calcjob.py|
                aiida/orm/utils/node.py|
                aiida/orm/utils/remote.py|
                aiida/orm/utils/serialize.py|
                aiida/repository/backend/disk_object_store.py|
                aiida/repository/backend/sandbox.py|
                aiida/restapi/common/utils.py|
                aiida/restapi/resources.py|
                aiida/restapi/run_api.py|
                aiida/restapi/translator/base.py|
                aiida/restapi/translator/computer.py|
                aiida/restapi/translator/group.py|
                aiida/restapi/translator/nodes/.*|
                aiida/restapi/translator/user.py|
                aiida/schedulers/plugins/direct.py|
                aiida/schedulers/plugins/lsf.py|
                aiida/schedulers/plugins/pbsbaseclasses.py|
                aiida/schedulers/plugins/sge.py|
                aiida/schedulers/plugins/slurm.py|
                aiida/storage/psql_dos/migrations/utils/integrity.py|
                aiida/storage/psql_dos/migrations/utils/legacy_workflows.py|
                aiida/storage/psql_dos/migrations/utils/migrate_repository.py|
                aiida/storage/psql_dos/migrations/utils/parity.py|
                aiida/storage/psql_dos/migrations/utils/reflect.py|
                aiida/storage/psql_dos/migrations/utils/utils.py|
                aiida/storage/psql_dos/migrations/versions/1de112340b16_django_parity_1.py|
                aiida/storage/psql_dos/migrator.py|
                aiida/storage/psql_dos/models/.*|
                aiida/storage/psql_dos/orm/.*|
                aiida/storage/sqlite_temp/backend.py|
                aiida/storage/sqlite_zip/backend.py|
                aiida/storage/sqlite_zip/migrations/legacy_to_main.py|
                aiida/storage/sqlite_zip/migrator.py|
                aiida/storage/sqlite_zip/models.py|
                aiida/storage/sqlite_zip/orm.py|
                aiida/tools/data/array/kpoints/legacy.py|
                aiida/tools/data/array/kpoints/seekpath.py|
                aiida/tools/data/orbital/orbital.py|
                aiida/tools/data/orbital/realhydrogen.py|
                aiida/tools/dbimporters/plugins/.*|
                aiida/tools/graph/age_entities.py|
                aiida/tools/graph/age_rules.py|
                aiida/tools/graph/deletions.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/query/calculation.py|
                aiida/tools/query/mapping.py|
                aiida/tools/visualization/graph.py|
                aiida/transports/cli.py|
                aiida/transports/plugins/local.py|
                aiida/transports/plugins/ssh.py|
                aiida/workflows/arithmetic/multiply_add.py|

                tests/conftest.py|
                tests/repository/conftest.py|
                tests/repository/test_repository.py|
                tests/sphinxext/sources/workchain/conf.py|
                tests/sphinxext/sources/workchain_broken/conf.py|
                tests/storage/psql_dos/migrations/conftest.py|
                tests/storage/psql_dos/migrations/django_branch/test_0026_0027_traj_data.py|
                tests/test_calculation_node.py|
                tests/test_nodes.py|

            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                pyproject.toml|
                utils/dependency_management.py
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                pyproject.toml|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$
