# yet another python formatter
- repo: git://github.com/pre-commit/mirrors-yapf
  sha: v0.19.0
  hooks:
  - id: yapf
    language: system
    files: >-  # begin multiline string
      (?x)^(   # (?x) -> multiline regex, ^ -> beginning of file path
        .ci/test_plugin_testcase.py|
        .ci/test_setup.py|
        aiida/backends/tests/cmdline/commands/test_calculation.py|
        aiida/backends/tests/cmdline/commands/test_export.py|
        aiida/backends/tests/cmdline/commands/test_graph.py|
        aiida/backends/tests/cmdline/commands/test_rehash.py|
        aiida/backends/tests/cmdline/commands/test_work.py|
        aiida/backends/tests/cmdline/params/types/workflow.py|
        aiida/backends/tests/verdi_commands.py|
        aiida/control/.*.py|        # must match the whole path, therefore
        aiida/cmdline/tests/.*.py|  # the .*.py (.* matches everything)
        aiida/cmdline/commands/calculation.py|
        aiida/cmdline/commands/daemon.py|
        aiida/cmdline/commands/code.py|
        aiida/cmdline/commands/graph.py|
        aiida/cmdline/commands/node.py|
        aiida/cmdline/commands/rehash.py|
        aiida/cmdline/commands/restapi.py|
        aiida/cmdline/commands/workflow.py|
        aiida/cmdline/options/types/legacy_workflow.py|
        aiida/cmdline/utils/multi_line_input.py|
        aiida/cmdline/utils/test_multiline.py|
        aiida/cmdline/utils/templates.py|
        aiida/cmdline/utils/echo.py|
        aiida/scheduler/.*.py|
        aiida/transport/.*.py|
        aiida/backends/tests/cmdline/params/types/workflow.py|
        aiida/orm/data/cif.py|
        aiida/restapi/resources.py|
        aiida/restapi/translator/data/cif.py|
        aiida/utils/fixtures.py|
        docs/update_req_for_rtd.py # a|b -> match a OR b
      )$  # $ -> end of file path, to add a directory, give full/path/.*

# prospector: collection of linters
- repo: git://github.com/guykisel/prospector-mirror
  sha: b27f281eb9398fc8504415d7fbdabf119ea8c5e1
  hooks:
  - id: prospector
    language: system
    exclude: ^(tests/|examples/)
    types: [file, python]
    files: >-
      (?x)^(
        .ci/test_plugin_testcase.py|
        .ci/test_setup.py|
        aiida/backends/tests/cmdline/commands/test_calculation.py|
        aiida/backends/tests/cmdline/commands/test_export.py|
        aiida/backends/tests/cmdline/commands/test_graph.py|
        aiida/backends/tests/cmdline/commands/test_rehash.py|
        aiida/backends/tests/cmdline/commands/test_work.py|
        aiida/backends/tests/cmdline/params/types/workflow.py|
        aiida/backends/tests/verdi_commands.py|
        aiida/control/.*.py|
        aiida/cmdline/tests/.*.py|
        aiida/cmdline/commands/calculation.py|
        aiida/cmdline/commands/daemon.py|
        aiida/cmdline/commands/code.py|
        aiida/cmdline/commands/graph.py|
        aiida/cmdline/commands/node.py|
        aiida/cmdline/commands/rehash.py|
        aiida/cmdline/commands/restapi.py|
        aiida/cmdline/commands/workflow.py|
        aiida/cmdline/options/types/legacy_workflow.py|
        aiida/cmdline/utils/multi_line_input.py|
        aiida/cmdline/utils/test_multiline.py|
        aiida/cmdline/utils/templates.py|
        aiida/cmdline/utils/echo.py|
        aiida/control/.*.py|
        aiida/orm/data/cif.py|
        aiida/restapi/resources.py|
        aiida/restapi/translator/data/cif.py|
        aiida/utils/fixtures.py|
        aiida/utils/fixtures.py|
        docs/update_req_for_rtd.py|
      )$

- repo: local
  hooks:
  - id: rtd-requirements
    name: Requirements for RTD
    entry: python ./docs/update_req_for_rtd.py --pre-commit
    language: system
    files: >-
      (?x)^(
        setup_requirements.py|
        docs/requirements_for_rtd.txt|
        docs/update_req_for_rtd.py|
      )$
    pass_filenames: false

- repo: local
  hooks:
  - id: pyproject
    name: Validating pyproject.toml
    entry: python ./utils/validate_pyproject.py
    language: system
    files: >-
      (?x)^(
        setup_requirements.py|
        utils/validate_pyproject|
      )$
    pass_filenames: false

- repo: git://github.com/pre-commit/pre-commit-hooks
  sha: v1.1.1
  hooks:
  - id: check-yaml

- repo: local
  hooks:
  - id: travis-linter
    name: travis
    entry: travis lint
    files: .travis.yml
    language: ruby
    additional_dependencies: ['travis']
