ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [mypy, pylint, dm-generate-all, dependencies, verdi-autodocs]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
        exclude: &exclude_pre_commit_hooks >
            (?x)^(
                tests/.*(?<!\.py)$|
                docs/source/.+\.aiida/repo/.+|
            )$
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: *exclude_pre_commit_hooks
    -   id: check-yaml


-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.76'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        exclude: &exclude_files >
            (?x)^(
                docs/.*|
            )$
        args: ['-i']
        additional_dependencies: ['toml']

-   repo: local

    hooks:

    -   id: imports
        name: imports
        entry: python utils/make_all.py
        language: python
        types: [python]
        require_serial: true
        pass_filenames: false
        files: aiida/.*py

    -   id: mypy
        name: mypy
        entry: mypy
        args: [--config-file=pyproject.toml]
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida/common/progress_reporter.py|
                aiida/engine/.*py|
                aiida/manage/manager.py|
                aiida/manage/database/delete/nodes.py|
                aiida/orm/querybuilder.py|
                aiida/orm/implementation/entities.py|
                aiida/orm/implementation/storage_backend.py|
                aiida/orm/implementation/authinfos.py|
                aiida/orm/implementation/comments.py|
                aiida/orm/implementation/computers.py|
                aiida/orm/implementation/groups.py|
                aiida/orm/implementation/logs.py|
                aiida/orm/implementation/nodes.py|
                aiida/orm/implementation/users.py|
                aiida/orm/implementation/querybuilder.py|
                aiida/orm/entities.py|
                aiida/orm/authinfos.py|
                aiida/orm/comments.py|
                aiida/orm/computers.py|
                aiida/orm/groups.py|
                aiida/orm/logs.py|
                aiida/orm/users.py|
                aiida/orm/nodes/data/enum.py|
                aiida/orm/nodes/data/jsonable.py|
                aiida/orm/nodes/node.py|
                aiida/orm/nodes/process/.*py|
                aiida/orm/utils/links.py|
                aiida/plugins/entry_point.py|
                aiida/plugins/factories.py|
                aiida/repository/.*py|
                aiida/storage/control.py|
                aiida/storage/psql_dos/backend.py|
                aiida/storage/psql_dos/orm/querybuilder/.*py|
                aiida/storage/psql_dos/utils.py|
                aiida/storage/sqlite_zip/.*.py|
                aiida/tools/graph/graph_traversers.py|
                aiida/tools/groups/paths.py|
                aiida/tools/archive/.*py|
            )$

    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: *exclude_files

    -   id: dm-generate-all
        name: Update all requirements files
        entry: python ./utils/dependency_management.py generate-all
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                pyproject.toml|
                utils/dependency_management.py
            )$

    -   id: dependencies
        name: Validate environment.yml
        entry: python ./utils/dependency_management.py validate-environment-yml
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                pyproject.toml|
                utils/dependency_management.py|
                environment.yml|
            )$

    -   id: verdi-autodocs
        name: Automatically generating verdi docs
        entry: python ./utils/validate_consistency.py verdi-autodocs
        language: system
        pass_filenames: false
        files: >-
            (?x)^(
                aiida/cmdline/commands/.*|
                aiida/cmdline/params/.*|
                aiida/cmdline/params/types/.*|
                utils/validate_consistency.py|
            )$
