repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-added-large-files
    exclude: uv.lock
  - id: check-yaml
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
    exclude: &exclude_pre_commit_hooks >
      (?x)^(
        tests/.*(?<!\.py)$|
        docs/source/.+\.aiida/repo/.+|
        CHANGELOG.md|
      )$
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: trailing-whitespace
    exclude: *exclude_pre_commit_hooks

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
  - id: check-github-workflows

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.6
  hooks:
  - id: ruff-format
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]
    exclude: >-
      (?x)^(
        tests/.*|
        environment.yml|
      )$

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.8
  hooks:
    # Check and update the uv lockfile
  - id: uv-lock

- repo: local

  hooks:

  - id: imports
    name: imports
    entry: python utils/autogenerate_all_imports.py
    language: python
    types: [python]
    require_serial: true
    pass_filenames: false
    files: src/aiida/.*py

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml, --pretty]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    exclude: >-
      (?x)^(
        .github/.*|
        .molecule/.*|
        .docker/.*|
        docs/.*|
        utils/.*|
        tests/.*|

        src/aiida/calculations/arithmetic/add.py|
        src/aiida/calculations/diff_tutorial/calculations.py|
        src/aiida/calculations/templatereplacer.py|
        src/aiida/calculations/transfer.py|
        src/aiida/engine/daemon/execmanager.py|
        src/aiida/engine/processes/calcjobs/manager.py|
        src/aiida/engine/processes/calcjobs/monitors.py|
        src/aiida/engine/processes/calcjobs/tasks.py|
        src/aiida/engine/processes/control.py|
        src/aiida/engine/processes/ports.py|
        src/aiida/manage/configuration/__init__.py|
        src/aiida/manage/configuration/config.py|
        src/aiida/manage/external/rmq/launcher.py|
        src/aiida/orm/nodes/data/array/trajectory.py|
        src/aiida/orm/nodes/data/cif.py|
        src/aiida/orm/nodes/data/remote/base.py|
        src/aiida/orm/nodes/data/structure.py|
        src/aiida/orm/nodes/data/upf.py|
        src/aiida/orm/nodes/process/calculation/calcjob.py|
        src/aiida/orm/nodes/process/process.py|
        src/aiida/orm/utils/builders/code.py|
        src/aiida/orm/utils/builders/computer.py|
        src/aiida/orm/utils/calcjob.py|
        src/aiida/orm/utils/node.py|
        src/aiida/restapi/common/utils.py|
        src/aiida/restapi/resources.py|
        src/aiida/restapi/run_api.py|
        src/aiida/restapi/translator/base.py|
        src/aiida/restapi/translator/computer.py|
        src/aiida/restapi/translator/group.py|
        src/aiida/restapi/translator/nodes/.*|
        src/aiida/restapi/translator/user.py|
        src/aiida/schedulers/plugins/direct.py|
        src/aiida/schedulers/plugins/lsf.py|
        src/aiida/schedulers/plugins/pbsbaseclasses.py|
        src/aiida/schedulers/plugins/sge.py|
        src/aiida/schedulers/plugins/slurm.py|
        src/aiida/storage/psql_dos/migrations/utils/integrity.py|
        src/aiida/storage/psql_dos/migrations/utils/legacy_workflows.py|
        src/aiida/storage/psql_dos/migrations/utils/migrate_repository.py|
        src/aiida/storage/psql_dos/migrations/utils/parity.py|
        src/aiida/storage/psql_dos/migrations/utils/reflect.py|
        src/aiida/storage/psql_dos/migrations/utils/utils.py|
        src/aiida/storage/psql_dos/migrations/versions/1de112340b16_django_parity_1.py|
        src/aiida/storage/psql_dos/migrator.py|
        src/aiida/storage/psql_dos/models/.*|
        src/aiida/storage/psql_dos/orm/.*.py|
        src/aiida/storage/psql_dos/orm/querybuilder/joiner.py|
        src/aiida/storage/sqlite_temp/backend.py|
        src/aiida/storage/sqlite_zip/backend.py|
        src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py|
        src/aiida/storage/sqlite_zip/migrator.py|
        src/aiida/storage/sqlite_zip/models.py|
        src/aiida/storage/sqlite_zip/orm.py|
        src/aiida/tools/data/array/kpoints/legacy.py|
        src/aiida/tools/data/array/kpoints/seekpath.py|
        src/aiida/tools/data/orbital/orbital.py|
        src/aiida/tools/data/orbital/realhydrogen.py|
        src/aiida/tools/dbimporters/plugins/.*|
        src/aiida/transports/cli.py|
        src/aiida/transports/plugins/local.py|
        src/aiida/transports/plugins/ssh.py|
      )$

  - id: generate-conda-environment
    name: Update conda environment file
    entry: python ./utils/dependency_management.py generate-environment-yml
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        pyproject.toml|
        utils/dependency_management.py|
        environment.yml|
      )$

  - id: validate-conda-environment
    name: Validate environment.yml
    entry: python ./utils/dependency_management.py validate-environment-yml
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        pyproject.toml|
        utils/dependency_management.py|
        environment.yml|
      )$

  - id: verdi-autodocs
    name: Automatically generating verdi docs
    entry: python ./utils/validate_consistency.py verdi-autodocs
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        src/aiida/cmdline/commands/.*|
        src/aiida/cmdline/params/.*|
        src/aiida/cmdline/params/types/.*|
        utils/validate_consistency.py|
      )$
