# yet another python formatter
- repo: git://github.com/pre-commit/mirrors-yapf
  sha: v0.19.0
  hooks:
  - id: yapf
    language: system
    files: &check_files >-  # begin multiline string
      (?x)^(   # (?x) -> multiline regex, ^ -> beginning of file path
        .ci/test_plugin_testcase.py|
        .ci/test_setup.py|
        #aiida/backends/tests/cmdline/commands/.*.py|
        aiida/backends/tests/cmdline/params/types/workflow.py|
        aiida/common/utils.py|
        aiida/cmdline/.*.py|
        aiida/control/.*.py|
        aiida/orm/data/cif.py|
        aiida/orm/implementation/sqlalchemy/node.py|
        aiida/orm/user.py|
        # Unfortunately scheduler plugins and datastructures need to be refactored thoroughly
        # to pass the linters, so enable only __init__ and test_datastructures for now
        # aiida/scheduler/[^/]+.py|
        aiida/scheduler/__init__.py|
        aiida/scheduler/test_datastructures.py|
        aiida/transport/__init__.py|
        aiida/transport/cli.py|
        aiida/transport/transport.py|
        aiida/transport/util.py|
        aiida/transport/plugins/__init__.py|
        aiida/transport/plugins/local.py|
        aiida/restapi/resources.py|
        aiida/restapi/translator/data/cif.py|
        aiida/utils/fixtures.py|
        aiida/work/awaitable.py|
        aiida/work/context.py|
        aiida/work/exceptions.py|
        aiida/work/exit_code.py|
        aiida/work/futures.py|
        aiida/work/launch.py|
        aiida/work/persistence.py|
        aiida/work/ports.py|
        aiida/work/process_builder.py|
        aiida/work/process_spec.py|
        aiida/work/rmq.py|
        aiida/work/runners.py|
        aiida/work/test_utils.py|
        aiida/work/transports.py|
        aiida/work/utils.py|
        aiida/work/workchain.py|
        aiida/work/workfunctions.py|
        docs/update_req_for_rtd.py # a|b -> match a OR b
      )$  # $ -> end of file path, to add a directory, give full/path/.*


# prospector: collection of linters
- repo: git://github.com/guykisel/prospector-mirror
  sha: b27f281eb9398fc8504415d7fbdabf119ea8c5e1
  hooks:
  - id: prospector
    language: system
    types: [file, python]
    files: *check_files
    exclude: >
           (?x)^(
                tests/|
                examples/
            )$

# modernizer: make sure our code-base is Python 3 ready
- repo: https://github.com/python-modernize/python-modernize.git
  sha: a234ce4e185cf77a55632888f1811d83b4ad9ef2
  hooks:
  - id: python-modernize
    exclude: ^docs/
    args:
      - --write
      - --nobackups
# Following are all the fixers in python-modernize.
# Those marked as 'done' were run at some point and their results checked
# and incorporated if necessary, but they can't be applied without breaking valid cases
      - --fix=apply
      - --fix=except
      - --fix=exec
      - --fix=execfile
      - --fix=exitfunc
      - --fix=funcattrs
#done:      - --fix=has_key
#      - --fix=idioms
#      - --fix=long
      - --fix=methodattrs
      - --fix=ne
      - --fix=numliterals
      - --fix=operator
      - --fix=paren
      - --fix=reduce
      - --fix=renames
      - --fix=repr
#optional:      - --fix=set_literal
      - --fix=standarderror
      - --fix=sys_exc
      - --fix=throw
      - --fix=tuple_params
#      - --fix=types
#optional:      - --fix=ws_comma
      - --fix=xreadlines
#      - --fix=basestring
#      - --fix=classic_division
#      - --fix=dict_six
      - --fix=file
#      - --fix=filter
      - --fix=import
#      - --fix=imports_six
#      - --fix=input_six
#      - --fix=int_long_tuple
      - --fix=itertools_imports_six
#      - --fix=itertools_six
#      - --fix=map
#      - --fix=metaclass
#      - --fix=next
#      - --fix=open
      - --fix=print
#      - --fix=raise
      - --fix=raise_six
      - --fix=unichr
      - --fix=unicode
      - --fix=unicode_future
#      - --fix=unicode_type
#      - --fix=urllib_six
#      - --fix=xrange_six
#      - --fix=zip

- repo: local
  hooks:
  - id: rtd-requirements
    name: Requirements for RTD
    entry: python ./docs/update_req_for_rtd.py --pre-commit
    language: system
    files: >-
      (?x)^(
        setup_requirements.py|
        docs/requirements_for_rtd.txt|
        docs/update_req_for_rtd.py|
      )$
    pass_filenames: false

- repo: local
  hooks:
  - id: pyproject
    name: Validating pyproject.toml
    entry: python ./utils/validate_pyproject.py
    language: system
    files: >-
      (?x)^(
        setup_requirements.py|
        utils/validate_pyproject|
      )$
    pass_filenames: false

- repo: git://github.com/pre-commit/pre-commit-hooks
  sha: v1.1.1
  hooks:
  - id: check-yaml

- repo: local
  hooks:
  - id: travis-linter
    name: travis
    entry: travis lint
    files: .travis.yml
    language: ruby
    additional_dependencies: ['travis']
