ci:
  autofix_prs: true
  autoupdate_commit_msg: 'Devops: Update pre-commit dependencies'
  autoupdate_schedule: quarterly
  skip: [mypy, dm-generate-all, dependencies, verdi-autodocs]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
    exclude: &exclude_pre_commit_hooks >
      (?x)^(
        tests/.*(?<!\.py)$|
        docs/source/.+\.aiida/repo/.+|
        CHANGELOG.md|
      )$
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: trailing-whitespace
    exclude: *exclude_pre_commit_hooks

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.6
  hooks:
  - id: check-github-workflows

- repo: https://github.com/ikamensh/flynt/
  rev: 1.0.1
  hooks:
  - id: flynt
    args: [--line-length=120, --fail-on-change]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.0
  hooks:
  - id: ruff-format
    exclude: &exclude_ruff >
      (?x)^(
        docs/source/topics/processes/include/snippets/functions/parse_docstring_expose_ipython.py|
        docs/source/topics/processes/include/snippets/functions/signature_plain_python_call_illegal.py|
      )$
  - id: ruff
    exclude: *exclude_ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]
    exclude: >-
      (?x)^(
        tests/.*|
        environment.yml|
      )$

- repo: local

  hooks:

  - id: imports
    name: imports
    entry: python utils/make_all.py
    language: python
    types: [python]
    require_serial: true
    pass_filenames: false
    files: src/aiida/.*py

  - id: mypy
    name: mypy
    entry: mypy
    args: [--config-file=pyproject.toml]
    language: python
    types: [python]
    require_serial: true
    pass_filenames: true
    exclude: >-
      (?x)^(
        .github/.*|
        .molecule/.*|
        .docker/.*|
        docs/.*|
        utils/.*|
        tests/.*|

        src/aiida/calculations/arithmetic/add.py|
        src/aiida/calculations/diff_tutorial/calculations.py|
        src/aiida/calculations/templatereplacer.py|
        src/aiida/calculations/transfer.py|
        src/aiida/cmdline/commands/cmd_archive.py|
        src/aiida/cmdline/commands/cmd_calcjob.py|
        src/aiida/cmdline/commands/cmd_code.py|
        src/aiida/cmdline/commands/cmd_computer.py|
        src/aiida/cmdline/commands/cmd_data/cmd_list.py|
        src/aiida/cmdline/commands/cmd_data/cmd_upf.py|
        src/aiida/cmdline/commands/cmd_devel.py|
        src/aiida/cmdline/commands/cmd_group.py|
        src/aiida/cmdline/commands/cmd_node.py|
        src/aiida/cmdline/commands/cmd_shell.py|
        src/aiida/cmdline/commands/cmd_storage.py|
        src/aiida/cmdline/params/options/commands/setup.py|
        src/aiida/cmdline/params/options/interactive.py|
        src/aiida/cmdline/params/options/main.py|
        src/aiida/cmdline/params/options/multivalue.py|
        src/aiida/cmdline/params/types/group.py|
        src/aiida/cmdline/utils/ascii_vis.py|
        src/aiida/cmdline/utils/common.py|
        src/aiida/cmdline/utils/echo.py|
        src/aiida/common/extendeddicts.py|
        src/aiida/common/utils.py|
        src/aiida/engine/daemon/execmanager.py|
        src/aiida/engine/processes/calcjobs/manager.py|
        src/aiida/engine/processes/calcjobs/monitors.py|
        src/aiida/engine/processes/calcjobs/tasks.py|
        src/aiida/engine/processes/control.py|
        src/aiida/engine/processes/ports.py|
        src/aiida/manage/configuration/__init__.py|
        src/aiida/manage/configuration/config.py|
        src/aiida/manage/external/rmq/launcher.py|
        src/aiida/manage/tests/main.py|
        src/aiida/manage/tests/pytest_fixtures.py|
        src/aiida/orm/comments.py|
        src/aiida/orm/computers.py|
        src/aiida/orm/implementation/storage_backend.py|
        src/aiida/orm/nodes/caching.py|
        src/aiida/orm/nodes/comments.py|
        src/aiida/orm/nodes/data/array/bands.py|
        src/aiida/orm/nodes/data/array/trajectory.py|
        src/aiida/orm/nodes/data/cif.py|
        src/aiida/orm/nodes/data/remote/base.py|
        src/aiida/orm/nodes/data/structure.py|
        src/aiida/orm/nodes/data/upf.py|
        src/aiida/orm/nodes/process/calculation/calcjob.py|
        src/aiida/orm/nodes/process/process.py|
        src/aiida/orm/utils/builders/code.py|
        src/aiida/orm/utils/builders/computer.py|
        src/aiida/orm/utils/calcjob.py|
        src/aiida/orm/utils/node.py|
        src/aiida/repository/backend/disk_object_store.py|
        src/aiida/repository/backend/sandbox.py|
        src/aiida/restapi/common/utils.py|
        src/aiida/restapi/resources.py|
        src/aiida/restapi/run_api.py|
        src/aiida/restapi/translator/base.py|
        src/aiida/restapi/translator/computer.py|
        src/aiida/restapi/translator/group.py|
        src/aiida/restapi/translator/nodes/.*|
        src/aiida/restapi/translator/user.py|
        src/aiida/schedulers/plugins/direct.py|
        src/aiida/schedulers/plugins/lsf.py|
        src/aiida/schedulers/plugins/pbsbaseclasses.py|
        src/aiida/schedulers/plugins/sge.py|
        src/aiida/schedulers/plugins/slurm.py|
        src/aiida/storage/psql_dos/migrations/utils/integrity.py|
        src/aiida/storage/psql_dos/migrations/utils/legacy_workflows.py|
        src/aiida/storage/psql_dos/migrations/utils/migrate_repository.py|
        src/aiida/storage/psql_dos/migrations/utils/parity.py|
        src/aiida/storage/psql_dos/migrations/utils/reflect.py|
        src/aiida/storage/psql_dos/migrations/utils/utils.py|
        src/aiida/storage/psql_dos/migrations/versions/1de112340b16_django_parity_1.py|
        src/aiida/storage/psql_dos/migrator.py|
        src/aiida/storage/psql_dos/models/.*|
        src/aiida/storage/psql_dos/orm/.*|
        src/aiida/storage/sqlite_temp/backend.py|
        src/aiida/storage/sqlite_zip/backend.py|
        src/aiida/storage/sqlite_zip/migrations/legacy_to_main.py|
        src/aiida/storage/sqlite_zip/migrator.py|
        src/aiida/storage/sqlite_zip/models.py|
        src/aiida/storage/sqlite_zip/orm.py|
        src/aiida/tools/data/array/kpoints/legacy.py|
        src/aiida/tools/data/array/kpoints/seekpath.py|
        src/aiida/tools/data/orbital/orbital.py|
        src/aiida/tools/data/orbital/realhydrogen.py|
        src/aiida/tools/dbimporters/plugins/.*|
        src/aiida/tools/graph/age_entities.py|
        src/aiida/tools/graph/age_rules.py|
        src/aiida/tools/graph/deletions.py|
        src/aiida/tools/graph/graph_traversers.py|
        src/aiida/tools/groups/paths.py|
        src/aiida/tools/query/calculation.py|
        src/aiida/tools/query/mapping.py|
        src/aiida/transports/cli.py|
        src/aiida/transports/plugins/local.py|
        src/aiida/transports/plugins/ssh.py|
        src/aiida/workflows/arithmetic/multiply_add.py|
      )$

  - id: dm-generate-all
    name: Update all requirements files
    entry: python ./utils/dependency_management.py generate-all
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        pyproject.toml|
        utils/dependency_management.py
      )$

  - id: dependencies
    name: Validate environment.yml
    entry: python ./utils/dependency_management.py validate-environment-yml
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        pyproject.toml|
        utils/dependency_management.py|
        environment.yml|
      )$

  - id: verdi-autodocs
    name: Automatically generating verdi docs
    entry: python ./utils/validate_consistency.py verdi-autodocs
    language: system
    pass_filenames: false
    files: >-
      (?x)^(
        src/aiida/cmdline/commands/.*|
        src/aiida/cmdline/params/.*|
        src/aiida/cmdline/params/types/.*|
        utils/validate_consistency.py|
      )$
