# Usage: conda env create -n myenvname -f environment.yml
---
name: aiida
channels:
- conda-forge
- defaults
dependencies:
- python~=3.9
- alembic~=1.2
- archive-path~=0.4.2
- asyncssh~=2.19.0
- circus~=0.19.0
- click-spinner~=0.1.8
- click~=8.1
- disk-objectstore~=1.3.0
- docstring_parser
- get-annotations~=0.1
- python-graphviz~=0.19
- plumpy~=0.25.0
- ipython>=7
- jedi<0.19
- jinja2~=3.0
- kiwipy[rmq]~=0.8.4
- importlib-metadata~=6.0
- numpy~=1.21
- paramiko~=3.0
- pgsu~=0.3.0
- psutil~=5.6
- psycopg[binary]~=3.0
- pydantic~=2.4
- pytz~=2021.1
- pyyaml~=6.0
- requests~=2.0
- sqlalchemy~=2.0
- tabulate<0.10.0,>=0.8.0
- tqdm~=4.45
- typing-extensions~=4.0
- upf_to_json~=0.9.2
- wrapt~=1.11
- chardet~=5.2.0
