# Usage: conda env create -n myenvname -f environment.yml
---
name: aiida
channels:
- conda-forge
- defaults
dependencies:
- python~=3.7
- aldjemy~=0.9.1
- alembic~=1.2
- circus~=0.16.1
- click-completion~=0.5.1
- click-config-file~=0.6.0
- click-spinner~=0.1.8
- click~=7.0
- django~=2.2
- ete3~=3.1
- python-graphviz~=0.13
- ipython~=7.0
- jinja2~=2.10
- kiwipy[rmq]~=0.5.5
- numpy~=1.17
- paramiko~=2.7
- pika~=1.1
- plumpy~=0.15.0
- pgsu~=0.1.0
- psutil~=5.6
- psycopg2>=2.8.3,~=2.8
- python-dateutil~=2.8
- pytz~=2019.3
- pyyaml~=5.1.2
- reentry~=1.3
- simplejson~=3.16
- sqlalchemy-utils~=0.34.2
- sqlalchemy>=1.3.10,~=1.3
- tabulate~=0.8.5
- tornado<5.0
- tqdm~=4.45
- tzlocal~=2.0
- upf_to_json~=0.9.2
- wrapt~=1.11.1
