# Usage: conda env create -n myenvname -f environment.yml python=3.6
---
name: aiida
channels:
- defaults
- conda-forge
- etetoolkit
dependencies:
- reentry>=1.3.0
- python-dateutil==2.8.0
- django==1.11.20
- tzlocal==1.5.1
- pytz==2018.9
- PyYAML==3.13
- six==1.12.0
- psutil==5.5.1
- mock==2.0.0
- numpy==1.16.4
- SQLAlchemy==1.3.3
- SQLAlchemy-Utils==0.33.11
- alembic==1.0.7
- aldjemy==0.9.1
- passlib==1.7.1
- click==7.0
- click-completion==0.5.1
- click-config-file==0.5.0
- click-spinner==0.1.8
- tabulate==0.8.3
- ete3==3.1.1
- uritools==2.2.0
- psycopg2==2.8
- paramiko==2.6.0
- ipython>=4.0,<6.0
- plumpy==0.14.1
- kiwipy[rmq]==0.5.1
- pika==1.0.0
- circus==0.15.0
- tornado<5.0
- wrapt==1.11.1
- simplejson==3.16.0
- python-graphviz==0.10.1
