# Usage: conda env create -n myenvname -f environment.yml
---
name: aiida
channels:
- conda-forge
- defaults
dependencies:
- python~=3.7
- aldjemy~=2.2
- alembic~=1.2
- archive-path~=0.2.1
- aio-pika~=6.6
- circus~=0.17.1
- click-completion~=0.5.1
- click-config-file~=0.6.0
- click-spinner~=0.1.8
- click~=7.1
- disk-objectstore~=0.6.0
- django~=2.2
- python-graphviz~=0.13
- ipython~=7.20
- jinja2~=3.0
- jsonschema~=3.0
- kiwipy[rmq]~=0.7.4
- importlib-metadata~=4.3
- numpy~=1.17
- pamqp~=2.3
- paramiko>=2.7.2,~=2.7
- plumpy~=0.20.0
- pgsu~=0.2.0
- psutil~=5.6
- psycopg2-binary~=2.8.3
- python-dateutil~=2.8
- pytz~=2021.1
- pyyaml~=5.4
- simplejson~=3.16
- sqlalchemy~=1.4.22
- tabulate~=0.8.5
- typing-extensions
- tqdm~=4.45
- tzlocal~=2.0
- upf_to_json~=0.9.2
- wrapt~=1.11.1
