# Usage: conda env create -n myenvname -f environment.yml
---
name: aiida
channels:
- conda-forge
- defaults
dependencies:
- python~=3.9
- alembic~=1.8
- archive-path~=0.4.2
- asyncssh~=2.21.0
- circus~=0.19.0
- click-spinner~=0.1.8
- click<8.3,>=8.1.0
- disk-objectstore~=1.4.0
- docstring_parser
- get-annotations~=0.1
- python-graphviz~=0.19
- plumpy~=0.25.0
- ipython>=7.6
- jedi<0.19
- jinja2~=3.0
- kiwipy[rmq]>=0.8.4
- importlib-metadata~=6.0
- numpy<3,>=1.21
- paramiko~=3.0
- pgsu~=0.3.0
- psutil~=7.0
- psycopg[binary]<4,>=3.0.2
- pydantic~=2.6
- pytz~=2021.1
- pyyaml~=6.0
- requests~=2.0
- sqlalchemy<3,>=2.0.20
- tabulate<0.10.0,>=0.9.0
- tqdm~=4.45
- typing-extensions~=4.1
- upf_to_json~=0.9.2
- wrapt~=1.11
- chardet~=5.2.0
- nest-asyncio
