# Usage: conda env create -n myenvname -f environment.yml
---
name: aiida
channels:
- conda-forge
- defaults
dependencies:
- python~=3.9
- alembic~=1.2
- archive-path~=0.4.2
- aio-pika~=6.6
- circus~=0.18.0
- click-spinner~=0.1.8
- click~=8.1
- disk-objectstore~=1.0
- docstring_parser
- get-annotations~=0.1
- python-graphviz~=0.19
- ipython>=7
- jinja2~=3.0
- kiwipy[rmq]~=0.7.7
- importlib-metadata~=6.0
- numpy~=1.21
- paramiko>=2.7.2,~=2.7
- plumpy~=0.21.6
- pgsu~=0.2.1
- psutil~=5.6
- psycopg2-binary~=2.8
- pydantic~=2.4
- pytz~=2021.1
- pyyaml~=6.0
- requests~=2.0
- sqlalchemy~=1.4.22
- tabulate~=0.8.5
- tqdm~=4.45
- upf_to_json~=0.9.2
- wrapt~=1.11
