include aiida/cmdline/templates/*.tpl
include aiida/manage/backup/backup_info.json.tmpl
include aiida/manage/configuration/schema/*.json
include setup.json
include AUTHORS.txt
include CHANGELOG.md
include pyproject.toml
include LICENSE.txt
