## To install these requirements, run
## pip install -U -r optional_requirements.txt
## (the -U option also upgrades packages; from the second time on,
## just run
## pip install -r optional_requirements.txt
##
## NOTE: before running the command above, you need to install a recent version
## of pip from the website, and then possibly install/upgrade setuptools using
## sudo pip install --upgrade setuptools

## To have a decently recent version of sqlite
## Note that django uses pysqlite instead of the system-provided
## sqlite3, if pysqlite is available: django/db/backends/sqlite3/base.py
## This is because we need recursive triggers in sqlite, present
## only after sqlite 3.6.18
pysqlite==2.6.3

## ASE for crystal structure manipulation
ase==3.12.0

# Support for NWChem I/O
pymatgen==4.5.3

## pyspglib for symmetry detection in aiida.orm.data.structure
pyspglib

## Support for the AiiDA CifData class
PyCifRW==3.6.2.1

## Support for ssh transport with authentification through Kerberos token
## NOTE: you need to install first libffi (sudo apt-get install libffi-dev under Ubuntu)
pyasn1>=0.1.9
#python-gssapi>=0.6.4

## ICSD tools
PyMySQL==0.7.9

## For documentation
Sphinx==1.5.2
pygments==2.2.0
docutils==0.13.1
jinja2==2.9.5
markupsafe==0.23
## For a nicer documentation theme (from read the docs):
sphinx_rtd_theme==0.1.9


# For the deamon to use kombu message passing
kombu==3.0.35

# Does not install if vtk is not there, so I comment
# For nice plotting:
#mayavi==4.5.0
