[build-system]
requires = ["setuptools>=40.8.0,<50", "wheel", "reentry~=1.3", "fastentrypoints~=0.12"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.pylint.master]
load-plugins = "pylint_django"

[tool.pylint.format]
max-line-length = 120

[tool.pylint.messages_control]
disable = [
    "bad-continuation",
    "bad-option-value",
    "cyclic-import",
    "django-not-available",
    "duplicate-code",
    "import-outside-toplevel",
    "inconsistent-return-statements",
    "locally-disabled",
    "logging-fstring-interpolation",
    "missing-class-docstring",
    "missing-function-docstring",
    "no-else-raise",
    "too-few-public-methods",
    "too-many-ancestors",
    "too-many-arguments",
    "too-many-instance-attributes",
    "too-many-locals",
    "useless-suppression",
]

[tool.pylint.basic]
good-names = [
    "_",
    "x",
    "y",
    "z",
    "i",
    "j",
    "k",
    "pk",
    "TemplatereplacerCalculation",
    "ArithmeticAddCalculation",
    "MultiplyAddWorkChain"
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--benchmark-skip"
testpaths = [
    "tests",
]
filterwarnings = [
    "ignore::DeprecationWarning:babel:",
    "ignore::DeprecationWarning:django:",
    "ignore::DeprecationWarning:frozendict:",
    "ignore::DeprecationWarning:sqlalchemy:",
    "ignore::DeprecationWarning:yaml:",
    "ignore::DeprecationWarning:pymatgen:",
    "ignore::DeprecationWarning:jsonbackend:",
    "ignore::DeprecationWarning:reentry:",
    "ignore::DeprecationWarning:pkg_resources:",
]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py37-django

[testenv]
usedevelop=True

[testenv:py{36,37,38}-{django,sqla}]
deps =
    py36: -rrequirements/requirements-py-3.6.txt
    py37: -rrequirements/requirements-py-3.7.txt
    py38: -rrequirements/requirements-py-3.8.txt
setenv =
    django: AIIDA_TEST_BACKEND = django
    sqla: AIIDA_TEST_BACKEND = sqlalchemy
commands = pytest {posargs}

[testenv:py{36,37,38}-docs-{clean,update}]
deps =
    py36: -rrequirements/requirements-py-3.6.txt
    py37: -rrequirements/requirements-py-3.7.txt
    py38: -rrequirements/requirements-py-3.8.txt
setenv =
    update: RUN_APIDOC = False
changedir = docs
whitelist_externals = make
commands =
    clean: make clean
    make debug

[testenv:py{36,37,38}-pre-commit]
extras = all
commands = pre-commit run {posargs}

[testenv:py{36,37,38}-update-reqs]
description = Update a requirements lock file
extras = 
    atomic_tools
    docs
    notebook
    rest
    tests
whitelist_externals = bash
commands = 
    py36: bash -c "pip freeze | sed 1d | tee requirements/requirements-py-3.6.txt"
    py37: bash -c "pip freeze | sed 1d | tee requirements/requirements-py-3.7.txt"
    py38: bash -c "pip freeze | sed 1d | tee requirements/requirements-py-3.8.txt"
"""
