alabaster==0.7.10
aldjemy==0.6.0
alembic==0.9.6
amqp==1.4.9
aniso8601==2.0.0
anyjson==0.3.3
ase==3.12.0
asn1crypto==0.24.0
aspy.yaml==1.0.0
astroid==1.6.1
Babel==2.5.3
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
billiard==3.3.0.23
cached-property==1.3.1
celery==3.1.25
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
click-plugins==1.0.3
click-spinner==0.1.7
configparser==3.5.0
cryptography==2.1.4
cycler==0.10.0
decorator==4.2.1
Django==1.7.11
django-extensions==1.5.0
docutils==0.13.1
dodgy==0.1.9
ecdsa==0.13
enum34==1.1.6
ete3==3.0.0b35
flake8==3.5.0
flake8-polyfill==1.0.2
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Cors==3.0.1
Flask-HTTPAuth==3.2.0
flask-marshmallow==0.7.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.1
funcsigs==1.0.2
future==0.16.0
identify==1.0.7
idna==2.6
imagesize==0.7.1
ipaddress==1.0.19
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.5
kombu==3.0.37
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==0.23
marshmallow==2.15.0
marshmallow-sqlalchemy==0.10.0
matplotlib==2.1.2
mccabe==0.6.1
meld3==1.0.0
mock==2.0.0
monty==1.0.2
nodeenv==1.2.0
numpy==1.12.0
palettable==3.1.0
paramiko==2.4.0
passlib==1.7.1
pathlib2==2.3.0
Pattern==2.6
pbr==3.1.1
pep8-naming==0.5.0
pexpect==4.3.1
pg8000==1.11.0
pgtest==1.1.0
pickleshare==0.7.4
pika==0.11.2
portalocker==1.1.0
pre-commit==1.3.0
prompt-toolkit==1.0.15
prospector==0.12.7
psutil==5.4.0
psycopg2==2.7.1
ptyprocess==0.5.2
pyasn1==0.4.2
PyCifRW==4.2.1
pycodestyle==2.0.0
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.7.4
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==0.9.0
pylint-flask==0.5
pylint-plugin-utils==0.2.6
pymatgen==4.5.3
PyMySQL==0.7.9
PyNaCl==1.2.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-editor==1.0.3
python-memcached==1.58
python-mimeparse==0.1.4
pytz==2014.10
PyYAML==3.12
qe-tools==1.0.0
reentry==1.0.3
requests==2.18.4
requirements-detector==0.5.2
scandir==1.6
scipy==0.19.1
seekpath==1.8.0
setoptconf==0.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
spglib==1.9.10.1
Sphinx==1.5.2
sphinx-rtd-theme==0.2.5b2
SQLAlchemy==1.0.12
sqlalchemy-diff==0.1.3
sqlalchemy-migrate==0.10.0
SQLAlchemy-Utils==0.31.2
sqlparse==0.2.4
subprocess32==3.2.7
tabulate==0.7.5
Tempita==0.5.2
traitlets==4.3.2
tzlocal==1.3
ujson==1.35
uritools==1.0.2
urllib3==1.22
validate-email==1.3
virtualenv==15.1.0
voluptuous==0.8.11
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
yapf==0.19.0
-e git://github.com/muhrin/plumpy.git@3fc79acaa3ca0b9c568897616d5f01182df10171#egg=plumpy
