version: 2
jobs:
  build_docs:
    docker:
      # see: https://circleci.com/docs/2.0/circleci-images/#python
      - image: circleci/python:3.7-stretch
    steps:
      # Get our data and merge with upstream
      - run: sudo apt-get update
      - checkout

      - restore_cache:
          keys:
            - cache-pip

      - run: |
          pip install numpy==1.17.4
          pip install --user .[docs,testing]

      - save_cache:
          key: cache-pip
          paths:
            - ~/.cache/pip

      # Build the docs
      - run:
          name: Build docs to store
          # nit-picky mode, turn warnings into errors,
          # but do not stop the build on errors (so we can still inspect the doc artifacts)
          command: |
            sphinx-build -b html -nW --keep-going -d docs/_build/doctrees docs/source docs/_build/html
          # environment:
            # READTHEDOCS: 'True'
            # RUN_APIDOC: 'False'
      - store_artifacts:
          path: docs/_build/html/
          destination: html

workflows:
  version: 2
  default:
    jobs:
      - build_docs
