{% load staticfiles %}
<script>
	/* because we use django's url module, we need this script to be in a template */
	/* we need to be able to access those urls from external scripts */
	var api_urls = {
		computers: '{% url "api_dispatch_list" api_name="v1" resource_name="dbcomputer" %}',
		authinfo: '{% url "api_dispatch_list" api_name="v1" resource_name="dbauthinfo" %}'
	};
	var modules_urls = {
		computers : {
			listing: '{% url "api_dispatch_list" api_name="v1" resource_name="dbcomputer" %}',
			detail: '{% url "awi:computers_detail" computer_id="0" %}',
			apidetail: '{% url "api_dispatch_detail" api_name="v1" resource_name="dbcomputer" pk=0 %}',
			rename: '{% url "awi:computers_rename" computer_id="0" %}'
		},
		filters : {
			computers: {
				get: '{% url "awi:filters_get" module="computers" %}',
				set: '{% url "awi:filters_set" module="computers" field="0" %}',
				remove: '{% url "awi:filters_remove" module="computers" field="0" %}',
				querystring: '{% url "awi:filters_querystring" module="computers" %}',
				create: '{% url "awi:filters_create" module="computers" field="0" %}',
				value: '{% url "awi:filters_value" module="computers" field="0" %}',
				schema: '{% url "api_get_schema" api_name="v1" resource_name="dbcomputer" %}'
			}
		}
	};
	
	// sending a csrftoken with every ajax request
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		crossDomain: false, // obviates need for sameOrigin test
		beforeSend: function (xhr, settings) {
			if (!csrfSafeMethod(settings.type)) {
				xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
			}
		}
	});
	
	$(document).ready(function () {
		/* SVG alternative for IE8 and below */
		if (!Modernizr.svg) {
			$(".navbar-brand img").attr('src', "{% static 'awi/img/logo.png' %}");
		}
		$('span').tooltip();
	});
</script>