<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filters
			<span class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add a new filter"></span></button>
					<ul class="dropdown-menu dropdown-menu-right" id="filters-new" role="menu">
					</ul>
				</div>
				
			</span>
		</h3>
	</div>
	<div class="panel-body">
		<div class="btn-toolbar" role="toolbar" id="filters">
			<div class="center loader"><div class="dots">Loading...</div></div>
		</div>
	</div>
</div>