{% extends "awi/base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="page-header">
	<h1>Welcome !</h1>
</div>
<div class="row">
	<div class="col-lg-9">
		<div class="jumbotron">
			<div class="container">
				<p>Last calculations of the user or something</p>
				<p><a class="btn btn-primary">View details &raquo;</a></p>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
 	</div>
</div>
{% endblock %}