<!DOCTYPE html>
<!--[if lt IE 7]>	   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		{% comment %} load the staticfiles library and the custom template tags {% endcomment %}
		{% load staticfiles %}
		{% load awi_tags %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}Page{% endblock %} - AiiDA Web Interface</title>
		<meta name="description" content="">
		<!-- viewport meta for mobile devices, zoom is not allowed -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<link rel="shortcut icon" href="{% static 'awi/favicon.png' %}">
		<link rel="icon" sizes="196x196" href="{% static 'awi/apple-touch-icon-precomposed.png' %}"> <!-- for android -->
		<link rel="apple-touch-icon-precomposed" href="{% static 'awi/apple-touch-icon-precomposed.png' %}"> <!-- for iOS -->

		<link rel="stylesheet" href="{% static 'awi/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'awi/css/datepicker3.css' %}">
		<link rel="stylesheet" href="{% static 'awi/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'awi/css/loader.min.css' %}">

		<script src="{% static 'awi/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		{% if not user.is_authenticated %}
		<div id="modal-login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="loginLabel">Login</h4>
					</div>
					<div class="modal-body">
						{% block modal %}
							{% include "awi/login_form.html" with base_template='awi/base_modal.html' %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'awi:home' %}"><img src="{% static 'awi/img/logo.svg' %}" alt="AiiDA Web Interface"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="{% current 'home' %}"><a href="{% url 'awi:home' %}">Home</a></li>
						<li class="{% current 'computers' %}"><a href="{% url 'awi:computers' %}">Computers</a></li>
						<li class="{% current 'codes' %}"><a href="{% url 'awi:codes' %}">Codes</a></li>
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ user.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="disabled"><a href="#">Account</a></li>
								<li class="disabled"><a href="#">Settings</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'awi:logout' %}">Logout</a></li>
							</ul>
						</li>
					</ul>
					{% else %}
					<div class="navbar-right">
						<button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#modal-login">Sign in</button>
					</div>
					{% endif %}
				</div><!--/.navbar-collapse -->
			</div><!--/.container -->
		</nav>
		
		<div class="container">
			<!-- error message for people without javascript (display controlled by CSS) -->
			<div class="alert alert-danger" id="nojs">
			  <strong>Oh my !</strong><br>AiiDA Web Interface doesn't work without JavaScript enabled, we're utterly sorry about that. If you don't know how to activate JavaScript, head up to this website : <a href="http://enable-javascript.com/" class="alert-link" target="_blank">enable-javascript.com</a>.
			</div>
			{% block main %}
			{% endblock %}
			<hr>
			<footer>
				<p>Footer here</p>
			</footer>
		</div> <!-- /container -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "awi/js/vendor/jquery-1.10.1.min.js" %}"><\/script>')</script>

		<script src="{% static 'awi/js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'awi/js/vendor/bootstrap-datepicker.min.js' %}"></script>
		{% include "awi/base_js.html" %}
		<script src="{% static 'awi/js/definitions.js' %}"></script>

		<script src="{% static 'awi/js/main.js' %}"></script>
		{% block js %}{% endblock %}
		<div class="font-preload"><span class="glyphicon glyphicon-asterisk"></span></div>
	</body>
</html>
