{% extends 'awi/base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
{% if error_message %}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Oh my !</strong> {{ error_message }}
</div>
{% endif %}
{% if not user.is_authenticated %}
<div class="page-header">
	<h1>Login{% block subtitle %}{% endblock %}</h1>
</div>
{% block modal %}{% endblock %}
{% else %}
<div class="alert alert-info">
	You're already logged in !
</div>
{% endif %}
{% endblock %}

{% block js %}{% endblock %}