{% extends "awi/base_calculations.html" %}
{% load staticfiles %}

{% block subtitle %} <small>List</small>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-8 col-sm-10 col-lg-push-8">
		{% include 'awi/base_filters.html' %}
 	</div>
	<div class="col-lg-8 col-md-12 col-sm-12 col-lg-pull-4">
		<div class="panel panel-default">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>
							{% if ordering == 'id' %}
							<a href="{% url 'awi:calculations_list' %}/-id" class="ordering">ID<span class="up-caret"></span></a>
							{% elif ordering == '-id' %}
							<a href="{% url 'awi:calculations_list' %}/id" class="ordering">ID<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:calculations_list' %}/id" class="ordering">ID</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'label' %}
							<a href="{% url 'awi:calculations_list' %}/-label" class="ordering">Label<span class="up-caret"></span></a>
							{% elif ordering == '-label' %}
							<a href="{% url 'awi:calculations_list' %}/label" class="ordering">Label<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:calculations_list' %}/label" class="ordering">Label</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'type' %}
							<a href="{% url 'awi:calculations_list' %}/-type" class="ordering">Type<span class="up-caret"></span></a>
							{% elif ordering == '-type' %}
							<a href="{% url 'awi:calculations_list' %}/type" class="ordering">Type<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:calculations_list' %}/type" class="ordering">Type</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'dbcomputer__name' %}
							<a href="{% url 'awi:calculations_list' %}/-dbcomputer__name" class="ordering">Computer<span class="up-caret"></span></a>
							{% elif ordering == '-dbcomputer__name' %}
							<a href="{% url 'awi:calculations_list' %}/dbcomputer__name" class="ordering">Computer<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:calculations_list' %}/dbcomputer__name" class="ordering">Computer</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'ctime' %}
							<a href="{% url 'awi:calculations_list' %}/-ctime" class="ordering">Creation<span class="up-caret"></span></a>
							{% elif ordering == '-ctime' %}
							<a href="{% url 'awi:calculations_list' %}/ctime" class="ordering">Creation<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:calculations_list' %}/ctime" class="ordering">Creation</a>
							{% endif %}
						</th>
						<th></th>
					</thead>
					<tbody id="calculations-list" data-ordering="{{ ordering }}">
						<tr class="loader">
							<td colspan="6"><div class="dots">Loading...</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="center">
			<ul class="pagination" id="calculations-pag">
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'awi/js/application_manager.js' %}"></script>
<script src="{% static 'awi/js/filters_manager.js' %}"></script>
<script src="{% static 'awi/js/calculations_manager.js' %}"></script>
<script>
	var am;
	$(document).ready(function () {
		am = new ApplicationManager('calculations', FiltersManager, CalculationsManager);
	});
</script>
{% endblock %}