{% extends "awi/base_computers.html" %}
{% load staticfiles %}

{% block subtitle %} <small>List</small>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-3 col-md-7 col-sm-9 col-lg-push-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filters
					<span class="pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<!-- todo : filters -->
								<!-- filters can be : text input (first section), multiple choice (second section) -->
								<!-- e.g. name : search string in name __icontains= -->
								<!-- e.g. status : enabled or disabled -->
								<li><a href="#">ID</a></li>
								<li><a href="#">Name</a></li>
								<li><a href="#">Hostname</a></li>
								<li class="divider"></li>
								<li><a href="#">Type</a></li>
								<li><a href="#">Scheduler</a></li>
								<li><a href="#">Status</a></li>
							</ul>
						</div>
						
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-warning filter-field disabled"><strong>Status</strong></button>
						<button type="button" class="btn btn-default filter-value"><span class="label label-danger">disabled</span></button>
						<button type="button" class="btn btn-default text-danger"><strong>&times;</strong></button>
					</div>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-warning filter-field disabled"><strong>Type</strong></button>
						<button type="button" class="btn btn-default filter-value">local</button>
						<button type="button" class="btn btn-default text-danger"><strong>&times;</strong></button>
					</div>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-warning filter-field disabled"><strong>Scheduler</strong></button>
						<button type="button" class="btn btn-default filter-value">pbspro</button>
						<button type="button" class="btn btn-default text-danger"><strong>&times;</strong></button>
					</div>
				</div>
			</div>
		</div>
 	</div>
	<div class="col-lg-9 col-md-12 col-sm-12 col-lg-pull-3">
		<div class="panel panel-default">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>
							{% if ordering == 'id' %}
							<a href="{% url 'awi:computers_list' %}/-id" class="ordering">ID<span class="up-caret"></span></a>
							{% elif ordering == '-id' %}
							<a href="{% url 'awi:computers_list' %}/id" class="ordering">ID<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:computers_list' %}/id" class="ordering">ID</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'name' %}
							<a href="{% url 'awi:computers_list' %}/-name" class="ordering">Name<span class="up-caret"></span></a>
							{% elif ordering == '-name' %}
							<a href="{% url 'awi:computers_list' %}/name" class="ordering">Name<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:computers_list' %}/name" class="ordering">Name</a>
							{% endif %}
						</th>
						<th>Description</th>
						<th>User</th>
						<th>
							{% if ordering == 'transport_type' %}
							<a href="{% url 'awi:computers_list' %}/-transport_type" class="ordering">Type<span class="up-caret"></span></a>
							{% elif ordering == '-transport_type' %}
							<a href="{% url 'awi:computers_list' %}/transport_type" class="ordering">Type<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:computers_list' %}/transport_type" class="ordering">Type</a>
							{% endif %}
						</th>
						<th>Hostname</th>
						<th>
							{% if ordering == 'scheduler_type' %}
							<a href="{% url 'awi:computers_list' %}/-scheduler_type" class="ordering">Scheduler<span class="up-caret"></span></a>
							{% elif ordering == '-scheduler_type' %}
							<a href="{% url 'awi:computers_list' %}/scheduler_type" class="ordering">Scheduler<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:computers_list' %}/scheduler_type" class="ordering">Scheduler</a>
							{% endif %}
						</th>
						<th>
							{% if ordering == 'enabled' %}
							<a href="{% url 'awi:computers_list' %}/-enabled" class="ordering">Status<span class="up-caret"></span></a>
							{% elif ordering == '-enabled' %}
							<a href="{% url 'awi:computers_list' %}/enabled" class="ordering">Status<span class="caret"></span></a>
							{% else %}
							<a href="{% url 'awi:computers_list' %}/enabled" class="ordering">Status</a>
							{% endif %}
						</th>
						<th></th>
					</thead>
					<tbody id="computers-list" data-ordering="{{ ordering }}">
						<tr class="loader">
							<td colspan="9"><div class="dots">Loading...</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="center">
			<ul class="pagination" id="computers-pag">
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'awi/js/computers.js' %}"></script>
{% endblock %}