{% extends 'awi/base_ajax.html' %}

{% block ajax %}
<div id="computers-detail-{{ computer_id }}" class="detail-ajax">
	<div class="detail-close">
		<button type="button" class="close"><span class="glyphicon glyphicon-chevron-up"></span></button>
	</div>
</div>
<script>
	(function() { /* we need to defer the script since jQuery is not yet loaded at that point of the page */
		var code = function($) { /* this is the jQuery code we need to execute */
			$(document).ready(function(){
				$.getJSON('{{ api_detail_url }}', function(data){
					var loader = $('#computers-detail-{{ computer_id }} ~ .dots');
					var rows = [ /* stores the html to load */
						'<div class="ajax-hide">',
						'<ul class="media-list">',
						'<li class="media"><strong class="pull-left">Description</strong><div class="media-body">'+data.description+'</div></li>',
						'<li class="media"><strong class="pull-left">Metadata</strong><div class="media-body"><ul class="media-list">'
					];
					$.each(data.metadata, function(k, v){ /* we go over all metadatas and display them in a nested way */
						if(v instanceof Array)
							var value = v.join(' ');
						else
							var value = nl2br(v);
						rows.push('<li class="media"><strong class="pull-left">'+k+'</strong><div class="media-body">'+value+'</div></li>');
					});
					rows.push(
						'</ul></div></li>',
						'<li class="media"><strong class="pull-left">Transport parameters</strong><div class="media-body"><ul class="media-list">'
					);
					$.each(data.transport_params, function(k, v){ /* we go over all transport parameters and display them in a nested way */
						if(v instanceof Array)
							var value = v.join(' ');
						else
							var value = nl2br(v);
						rows.push('<li class="media"><strong class="pull-left">'+k+'</strong><div class="media-body">'+value+'</div></li>');
					});
					rows.push(
						'</ul></div></li>',
						'<li class="media"><strong class="pull-left">UUID</strong><div class="media-body">'+data.uuid+'</div></li>',
						'<li class="media"><strong class="pull-left">Working directory</strong><div class="media-body">'+data.workdir+'</div></li>',
						'</ul></div>'
					);
					loader.fadeTo('fast', 0.01, function(){ /* we hide the loader and show the details html */
						$('#computers-detail-{{ computer_id }}').prepend(rows.join(''));
						$('#computers-detail-{{ computer_id }} .ajax-hide').slideDown(function(){
							loader.hide();
							$('#computers-detail-{{ computer_id }}>.detail-close').fadeIn();
						});
					});
				});
				$('#computers-detail-{{ computer_id }}>.detail-close').click(function(){
					close_detail(module, '{{ computer_id }}');
				});
			});
		};
		var timer = function() { /* this is the timer function to defer code execution */
			if (window.jQuery) { /* if jQuery is available, ok lessgo */
				code(window.jQuery);
			} else { /* otherwise we defer for 100 milliseconds */
				window.setTimeout(timer, 100);
			}
		};
		timer();
	})();
</script>
{% endblock %}
