{% extends 'awi/base_ajax.html' %}

{% block subcontent %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{ field|title }}</h4>
</div>
<div class="modal-body">
	<div class="input-group">
		<input type="text" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button">Update</button>
		</span>
	</div>
	<div class="clearfix"></div><!-- may be unnecessary once the modal code is put at the top of the body -->
</div>
<script>
	(function() { /* we need to defer the script since jQuery is not yet loaded at that point of the page */
		var code = function($) { /* this is the jQuery code we need to execute */
			$(document).ready(function(){
				var field = $('#filter-{{ field }} input.form-control');
				field.val($('#filter-{{ field }}').attr('data-value'));
				window.setTimeout(function(){
					field.select().focus();
				}, 500);
				$('#filter-{{ field }} button.btn').click(function(){
					/* handle click event here : ajax etc */
				});
				field.keypress(function(event) {
					if (event.which == 13) {
						$('#filter-{{ field }} button.btn').click();
					}
				});
				themodal.on('shown.bs.modal', function(e){
					field.select().focus();
				});
				themodal.on('show.bs.modal', function(e){
					$('#filter-{{ field }} .alert').hide();
				});
			});
		};
		var timer = function() { /* this is the timer function to defer code execution */
			if (window.jQuery) { /* if jQuery is available, ok lessgo */
				code(window.jQuery);
			} else { /* otherwise we defer for 100 milliseconds */
				window.setTimeout(timer, 100);
			}
		};
		timer();
	})();
</script>
{% endblock %}