{% extends 'awi/base_ajax.html' %}

{% block ajax %}
{% for fieldname, f in filters.items %}
	<div class="btn-group btn-group-sm" id="filter-{{ fieldname }}">
		<button type="button" class="btn btn-warning filter-field disabled"><strong>{{ f.display_name }}</strong></button>
		<div class="btn-group btn-group-sm">
			{% if f.type != 'list' %}
			<button type="button" class="btn btn-default dropdown-toggle filter-operator" data-toggle="dropdown"></button>
			<ul class="dropdown-menu filter-operators"></ul>
			{% else %}
			<button type="button" class="btn btn-default filter-operator disabled"></button>
			{% endif %}
		</div>
		{% if f.type != 'list' %}
		<button type="button" class="btn btn-default filter-value" data-toggle="modal" data-target="#filter-modal" href="{% url 'awi:filters_value' module=module field=fieldname %}">{{ f.value }}</button>
		{% else %}
		<div class="btn-group btn-group-sm">
			<button type="button" class="btn btn-default dropdown-toggle filter-value filter-list" data-toggle="dropdown">{{ f.value }}</button>
			<ul class="dropdown-menu filter-values"></ul>
		</div>
		{% endif %}
		<button type="button" class="btn btn-default text-danger"><strong>&times;</strong></button>
	</div>
{% endfor %}
<script>
	(function() { /* we need to defer the script since jQuery is not yet loaded at that point of the page */
		var code = function($) { /* this is the jQuery code we need to execute */
			$(document).ready(function(){
				{% for fieldname, f in filters.items %}
					var o_{{ fieldname }} = filters_operators.{{ f.type }};
					$('#filter-{{ fieldname }} button.filter-operator').text(o_{{ fieldname }}.{{ f.operator }}[0]);
					{% if f.type != 'list' %}
						$('#filter-{{ fieldname }} ul.filter-operators').html(function(){
							var content = [];
							for (var op in o_{{ fieldname }}) {
								if(o_{{ fieldname }}.hasOwnProperty(op)) {
									content.push('<li><a href="#" data-operator="'+op+'" data-field="{{ fieldname }}" class="filter-change-operator"><strong>'+o_{{ fieldname }}[op][0]+'</strong>&nbsp;&nbsp;&nbsp;'+o_{{ fieldname }}[op][1]+'</a></li>');
								}
							}
							return content.join('');
						});
					{% endif %}
				{% endfor %}
				
				/* ajax to get the possible values for "list" type filters (direct API call) */
				$.getJSON(modules_urls.filters['{{ module }}'].schema, function(data){
					$.each(data.fields, function(k, o){
						if($('#filter-'+k+' .filter-list').length > 0) {
							$('#filter-'+k+' ul.filter-values').html(function(){
								var content = [];
								for (var v in o.valid_choices) {
									if(o.valid_choices.hasOwnProperty(v)) {
										content.push('<li><a href="#" data-field="'+k+'" class="filter-change-value">'+v+'</a></li>');
									}
								}
								return content.join('');
							});
						}
					});
				});
				
				/* we add the required modal for filters needs somewhere in the body where it isn't affected by css */
				$('body>div.container').prepend('<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">'+
				'<div class="modal-dialog modal-sm">'+
						'<div class="modal-content">'+
						'</div>'+
					'</div>'+
				'</div>');
			});
		};
		var timer = function() { /* this is the timer function to defer code execution */
			if (window.jQuery) { /* if jQuery is available, ok lessgo */
				code(window.jQuery);
			} else { /* otherwise we defer for 100 milliseconds */
				window.setTimeout(timer, 100);
			}
		};
		timer();
	})();
</script>
{% endblock %}