{% extends 'awi/base_ajax.html' %}

{% block ajax %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{ display_name }}</h4>
</div>
<div class="modal-body">
	<div class="alert alert-danger" style="display: none;"></div>
	<div class="input-group">
		<input type="text" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button">Update</button>
		</span>
	</div>
</div>
<script>
	am.filtersManager.loadValue('{{ field }}', '{{ type }}', '{{ operator }}');
</script>
{% endblock %}