{% extends 'awi/base_ajax.html' %}

{% block ajax %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{ display_name }} <small>create</small></h4>
</div>
<div class="modal-body" style="z-index: 1050;"><!-- z-index needed for the datepicker plugin -->
	<div class="alert alert-danger" style="display: none;"></div>
	<div class="form-horizontal" role="form">
	{% if type == 'datetime' %}
		<div class="form-group">
			<label for="filter-operator" class="col-sm-4 control-label">Operator</label>
			<div class="col-sm-4">
				<select class="form-control" id="filter-operator"></select>
			</div>
		</div>
		<div class="form-group filter-datetime" id="filter-datetime-single">
			<label for="filter-value" class="col-sm-4 control-label">Date</label>
			<div class="col-sm-6">
				<div class="input-group datetime">
					<input type="text" class="form-control" id="filter-value" placeholder="YYYY-MM-DD"
						data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-week-start="1" data-date-today-btn="true"
						data-date-autoclose="true" data-date-today-highlight="true">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group filter-datetime" style="display: none;" id="filter-datetime-range">
			<label for="filter-datetime-start" class="col-sm-4 control-label">Date</label>
			<div class="col-sm-6">
				<div class="input-datetimerange input-group" id="datepicker">
					<input type="text" class="form-control" id="filter-datetime-start" placeholder="YYYY-MM-DD"
						data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-week-start="1" data-date-today-btn="true"
						data-date-autoclose="true" data-date-today-highlight="true">
					<span class="input-group-addon">to</span>
					<input type="text" class="form-control" id="filter-datetime-end" placeholder="YYYY-MM-DD"
						data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-week-start="1" data-date-today-btn="true"
						data-date-autoclose="true" data-date-today-highlight="true">
				</div>
			</div>
		</div>
		<div class="form-group filter-datetime" style="display:none;" id="filter-datetime-year">
			<label for="filter-datetime-year" class="col-sm-4 control-label">Date</label>
			<div class="col-sm-6">
				<div class="input-group datetime">
					<input type="text" class="form-control" id="filter-datetime-yearfield" placeholder="YYYY"
						data-provide="datepicker" data-date-format="yyyy" data-date-autoclose="true"
						data-date-min-view-mode="2">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-6">
				<button type="button" class="btn btn-primary filter-submit">Create</button>
			</div>
		</div>
	{% elif type == 'integer' %}
		<div class="form-group">
			<label for="filter-operator" class="col-sm-4 control-label">Operator</label>
			<div class="col-sm-4">
				<select class="form-control" id="filter-operator"></select>
			</div>
		</div>
		<div class="form-group filter-integer" id="filter-integer-single">
			<label for="filter-value" class="col-sm-4 control-label">Value</label>
			<div class="col-sm-6">
				<input type="number" class="form-control" id="filter-value" placeholder="12345">
			</div>
		</div>
		<div class="form-group filter-integer" style="display: none;" id="filter-integer-range">
			<label for="filter-value-low" class="col-sm-4 control-label">Value</label>
			<div class="col-sm-6">
				<div class="input-group">
					<input type="number" class="form-control" id="filter-value-low" placeholder="12345">
					<span class="input-group-addon">to</span>
					<input type="number" class="form-control" id="filter-value-high" placeholder="12345">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-6">
				<button type="button" class="btn btn-primary filter-submit">Create</button>
			</div>
		</div>
	{% elif type == 'string' %}
		<div class="form-group">
			<label for="filter-operator" class="col-sm-5 control-label">Operator</label>
			<div class="col-sm-4">
				<select class="form-control" id="filter-operator"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="filter-value" class="col-sm-5 control-label">Value</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="filter-value" placeholder="Text">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-5">
				<button type="button" class="btn btn-primary filter-submit">Create</button>
			</div>
		</div>
	{% elif type == 'boolean' %}
		<div class="form-group">
			<label class="col-sm-5 control-label">Value</label>
			<div class="col-sm-5">
				<div class="btn-group">
					<button type="button" class="btn btn-success filter-bool" data-value="true">True</button>
					<button type="button" class="btn btn-danger filter-bool" data-value="false">False</button>
				</div>
			</div>
		</div>
	{% elif type == 'list' %}
		<div class="form-group">
			<label for="filter-operator" class="col-sm-5 control-label">Value</label>
			<div class="col-sm-5">
				<select class="form-control" id="filter-value"></select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-5">
				<button type="button" class="btn btn-primary filter-submit">Create</button>
			</div>
		</div>
	{% else %}
		<p class="text-danger center">unknown filter type</p>
	{% endif %}
	</div>
</div>
<script>
	am.filtersManager.loadCreate('{{ field }}', '{{ type }}');
</script>
{% endblock %}