.link-box {
    background-color: lightgreen;
    border: none;
    color: #484848;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    max-width: 220px;
    padding: 0.5rem 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.link-box.bottom {
    margin-top: auto;
}

.link-box a {
    color: #484848;
}

.link-box p {
    margin-top: 0;
    margin-bottom: 0rem;
    color: #484848;
}