## To install these requirements, run
## pip install -U -r requirements.txt
## (the -U option also upgrades packages; from the second time on,
## just run
## pip install -r requirements.txt
##
## NOTE: before running the command above, you need to install a recent version
## of pip from the website, and then possibly install/upgrade setuptools using
## sudo pip install --upgrade setuptools
##
## DEVELOPERS: When adding requirements here make sure you ALSO add them to
## install_requires in setup.py!


## Django
django==1.7.4

## For the UUID field
django_extensions==1.5

## For timezone support
tzlocal
pytz==2014.10

## For the daemon
django-celery==3.1.16
celery==3.1.17
billiard==3.3.0.19
amqp==1.4.9
anyjson==0.3.3
six==1.9
supervisor==3.1.3
meld3==1.0.0

# For the AiiDA shell
ipython

## Paramiko, for ssh connections
paramiko==1.15.2
ecdsa==0.13
pycrypto==2.6.1

## NumPy, mainly for the ArrayData objects but sometimes
## used also for arrays in other parts of the code
numpy

python-dateutil~=2.4.0
python-mimeparse==0.1.4

# SQLAlchemy support
SQLAlchemy==1.0.12
SQLAlchemy-Utils==0.31.2
ujson==1.35

# For workflows
enum34==1.1.2
git+https://bitbucket.org/aiida_team/plum.git@v0.7.4#egg=plum
voluptuous==0.8.11

# For the QueryBuilder in Django when testing:
aldjemy
# Password hashing
passlib

# Email validation for verdi install
validate_email

# For composable command line options
click==6.6

# Pretty-print tables
tabulate==0.7.5

# To get ASCII trees, may make this optional later
ete3==3.0.0b35

# REST API
flask==0.10.1
flask_restful==0.3.5
flask-cors==3.0.1
pyparsing==2.1.8
pattern==2.6
Flask-SqlAlchemy==2.1
SQLAlchemy-migrate==0.10.0
marshmallow-sqlalchemy==0.10.0
flask-marshmallow==0.7.0
itsdangerous==0.24
flask-httpauth==3.2.0
flask-cache==0.13.1
python-memcached==1.58

# For treating the repository location using URIs
uritools==1.0.2


