Flask-Cache==0.13.1
Flask-Cors==3.0.4
Flask-HTTPAuth==3.2.3
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.0
Pattern==2.6
PyCifRW==4.2.1
PyMySQL==0.8.0
PyYAML==3.12
Pygments==2.2.0
SQLAlchemy-Utils==0.33.0
SQLAlchemy==1.0.19
Sphinx==1.7.4
aldjemy==0.8.0
alembic==0.9.9
anyjson==0.3.3
ase==3.12.0
chainmap
circus==0.14.0
click-plugins==1.0.3
click-spinner==0.1.7
click==6.7
codecov==2.0.15
coverage==4.5.1
django-extensions==1.5.0
django==1.7.11
docutils==0.14
ecdsa==0.13
enum34==1.1.6
ete3==3.1.1
flask-marshmallow==0.9.0
future==0.16.0
ipython<6.0
itsdangerous==0.24
marshmallow-sqlalchemy==0.13.2
meld3==1.0.2
mock==2.0.0
numpy==1.14.3
paramiko==2.4.1
passlib==1.7.1
pathlib2
pgtest==1.1.0
pika==0.11.2
plumpy==0.10.1
psutil==5.4.5
pycrypto==2.6.1
pymatgen==2018.4.20
pyparsing==2.2.0
pytest-cov==2.5.1
pytest==3.5.1
python-dateutil==2.7.2
python-memcached==1.59
python-mimeparse==1.6.0
pytz==2018.4
qe-tools==1.1.0
reentry==1.2.0
seekpath==1.8.1
singledispatch >= 3.4.0.3
six==1.11.0
spglib==1.10.3.65
sphinx-rtd-theme==0.3.1
sqlalchemy-diff==0.1.3
sqlalchemy-migrate==0.11.0
tabulate==0.8.2
tornado==4.5.3
tzlocal==1.5.1
ujson==1.35
uritools==2.1.0
validate-email==1.3
voluptuous==0.11.1