name: continuous-integration-code

on:
  push:
    branches-ignore: [gh-pages]
  pull_request:
    branches-ignore: [gh-pages]
    paths-ignore: ['docs/**']

jobs:

  check-requirements:

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install utils/ dependencies
      run: pip install -r utils/requirements.txt

    - name: Check requirements files
      id: check_reqs
      run: python ./utils/dependency_management.py check-requirements DEFAULT

    - name: Create commit comment
      if: failure() && steps.check_reqs.outputs.error
      uses: peter-evans/commit-comment@v1
      with:
        path: pyproject.toml
        body: |
          ${{ steps.check_reqs.outputs.error }}

          Click [here](https://github.com/aiidateam/aiida-core/wiki/AiiDA-Dependency-Management) for more information on dependency management.

  tests:

    needs: [check-requirements]

    runs-on: ubuntu-latest
    timeout-minutes: 35

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.11']

    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_DB: test_aiida
          POSTGRES_PASSWORD: ''
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      rabbitmq:
        image: rabbitmq:3.8.14-management
        ports:
          - 5672:5672
          - 15672:15672
      slurm:
        image: xenonmiddleware/slurm:17
        ports:
          - 5001:22

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system dependencies
      run: sudo apt update && sudo apt install postgresql graphviz

    - name: Upgrade pip and setuptools
      # Install specific version of setuptools, because 65.6.0 breaks a number of packages, such as numpy
      run: |
        pip install --upgrade pip
        pip install setuptools==65.5.0
        pip --version

    - name: Install aiida-core
      run: |
        pip install -r requirements/requirements-py-${{ matrix.python-version }}.txt
        pip install --no-deps -e .
        pip freeze

    - name: Setup environment
      run:
        .github/workflows/setup.sh

    - name: Run test suite
      env:
        AIIDA_WARN_v3: 1
        SQLALCHEMY_WARN_20: 1
      run:
        .github/workflows/tests.sh

    - name: Upload coverage report
      if: matrix.python-version == 3.8 && github.repository == 'aiidateam/aiida-core'
      uses: codecov/codecov-action@v1
      with:
        name: aiida-pytests-py3.8
        file: ./coverage.xml
        fail_ci_if_error: false  # don't fail job, if coverage upload fails

  verdi:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.11']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install python dependencies
      run: pip install -e .

    - name: Run verdi
      run: |
        verdi devel check-load-time
        .github/workflows/verdi.sh
