name: continuous-integration-style

on:
  push:
    branches-ignore: [gh-pages]
  pull_request:
    branches-ignore: [gh-pages]

jobs:

  pre-commit:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      # note libkrb5-dev is required as a dependency for the gssapi pip install
      run: |
        sudo apt update
        sudo apt install libkrb5-dev ruby ruby-dev

    - name: Install python dependencies
      uses: ./.github/actions/install-aiida-core
      with:
        python-version: '3.10'
        extras: '[pre-commit]'
        from-requirements: false

    - name: Run pre-commit
      run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )
