name: pre-commit
# NOTE: This job is not duplicating pre-commit.ci job,
# since that once skips running mypy type-checking
# due to technical limitations of pre-commit.ci runners.

on:
  push:
    branches-ignore: [gh-pages]
  pull_request:
    branches-ignore: [gh-pages]

env:
  FORCE_COLOR: 1

jobs:

  pre-commit:

    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v6

    - name: Install python dependencies
      uses: ./.github/actions/install-aiida-core
      with:
        python-version: '3.11'
        from-lock: 'true'
        extras: pre-commit

    - name: Run pre-commit
      run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )
